# 連結相關
FRONTEND_BASE_URL="<FRONTEND_BASE_URL>"
DATABASE_URL="<POSTGRESQL_CONNECTION_STRING>"

# Google OAuth2 設定
OAUTHLIB_INSECURE_TRANSPORT=1
GOOGLE_CLIENT_ID="<GOOGLE_CLIENT_ID>"
GOOGLE_CLIENT_SECRET="<GOOGLE_CLIENT_SECRET>"
GOOGLE_REDIRECT_URI="<GOOGLE_REDIRECT_URI>"

# 密鑰
# 1. GIMINI KEY
# 2. FLASK 密鑰
# 3. JWT 密鑰
GOOGLE_API_KEY="<GIMINI_API_KEY>"
FLASK_SECRET_KEY="<FLASK_SECRET_KEY>"
JWT_SECRET_KEY="<JWT_SECRET_KEY>"
